*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
body{font-size: 14px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;}
 .head{background-color: lightcoral;
grid-column-start: 2;
grid-column-end: 5;
}
 .g{background-color: red;
     grid-area: 2/2/3/5;
}
 .logo{background-color:firebrick;
    grid-area: 1/1/7/2;}
 .pic{background-color:blue;
    grid-area: 3/2/4/5;
}
 .harry{background-color:gainsboro;
grid-area: 4/2/5/3;}
 .hcont{background-color:green;
grid-area: 4/3/5/5}
 .her{background-color:greenyellow;
grid-area: 5/2/6/4;}
 .hecont{background-color:darkcyan}
 .ron{background-color:skyblue;
grid-area: 6/2/7/3;}
 .roncont{background-color: orange;
grid-area:6/3/7/5 ;}
.footer{background-color: peru;
grid-area: 7/1/8/5;}
